.PopUp {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 90%;
    max-width: 500px;
    border: 1px solid #011627;
    border-radius: 1em;
    background-color: #FDFFFC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #011627;
    transform: translate(-50%, -50%);
}

.PopUp form {
    width: 80%;
    text-align: left;
}

.Overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: default;
}